<div class="container">
    <div class="row contribution-table">
        <p>Note: All currency values represented in INR (Indian Rupees).</p>
        <table style="padding: 5px;">
            <tr>
                <th class="v-txt">Years</th>
                <th class="v-txt">Jan</th>
                <th class="v-txt">Feb</th>
                <th class="v-txt">Mar</th>
                <th class="v-txt">April</th>
                <th class="v-txt">May</th>
                <th class="v-txt">June</th>
                <th class="v-txt">July</th>
                <th class="v-txt">Aug</th>
                <th class="v-txt">Sep</th>
                <th class="v-txt">Oct</th>
                <th class="v-txt">Nov</th>
                <th class="v-txt">Dec</th>
                <th class="v-txt">Total</th>
            </tr>
            <tr>
                <td>2015</td>
                <td>100</td>
                <td>100</td>
                <td>100</td>
                <td>100</td>
                <td>100</td>
                <td>100</td>
                <td>100</td>
                <td>100</td>
                <td>100</td>
                <td>100</td>
                <td>100</td>
                <td>100</td>
                <td>1000</td>
            </tr>
            <tr>
                <td>2016</td>
            </tr>
            <tr>
                <td>2017</td>
            </tr>
            <tr>
                <td>2018</td>
            </tr>
            <tr>
                <td>2019</td>
            </tr>
            <tr>
                <td>2020</td>
            </tr>
            <tr>
                <td colspan="13">Total</td>
                
                <td>1000</td>
        </table>
    </div>
</div>