<!-- <app-header></app-header> -->
<div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h3>Manage Menu</h3>
        <p-menu [model]="items"></p-menu>
      </div>
      <div class="col-sm-9">
        <h3 style="margin-left: -16px;">{{menuHeading}}</h3>
          <div for="Manage-Story" class="row tab-menu-row tab-menu-view hide-tab" >
              <p-tabMenu [model]="manageStoryItems">
                  <ng-template pTemplate="item" let-item let-i="index">
                      {{item.label}}
                  </ng-template>
              </p-tabMenu>
          </div>

          <div for="Manage-Story" class="row tab-menu-view hide-tab" >
            <!-- <app-manage-story></app-manage-story> -->
          </div>
          
          <div for="Manage-Donation" style="display:none;" class="row tab-menu-view hide-tab">
            <!-- <app-manage-donation></app-manage-donation> -->
          </div>

          <div for="Home-Info" style="display:none;" class="row tab-menu-view hide-tab">
            <!-- <app-homes-info></app-homes-info> -->
          </div>

          <div for="Upcoming-Events" class="row tab-menu-view hide-tab">
            <!-- <app-upcoming-events></app-upcoming-events> -->
          </div>

          <div for="Your-Contribution" style="display:none;" class="row tab-menu-view hide-tab">
            <!-- <app-your-contribution></app-your-contribution> -->
          </div>

          <div for="Contribute-To-EYH" style="display:none;" class="row tab-menu-view hide-tab">
            <app-contribute-to-eyh></app-contribute-to-eyh>
          </div>

          <div for="Join-To-EYH" style="display:none;" class="row tab-menu-view hide-tab">
            <!-- <app-join-to-eyh></app-join-to-eyh> -->
          </div>
         
      </div>
    </div>
  </div>
