<!-- <app-header></app-header> -->
<div class="container">
  <div class="card-group">

    <div *ngFor="let story of storys" class="card" style="max-width: 18rem;">
      <img class="card-img-top" src="./assets/img_avatar1.png" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">{{story.storyTitle}}</h4>
        <p class="card-text">{{story.story}}</p>
        <a href="story/{{story.id}}" class="btn btn-primary">Click to read more</a>
      </div>
    </div>

  </div>

</div>